# VITE_SUPABASE_URL=https://amylgwlljgecrlczfixa.supabase.co
# VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFteWxnd2xsamdlY3JsY3pmaXhhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTEwNDg5MDIsImV4cCI6MjA2NjYyNDkwMn0.IkRlPQbLPyYB-Q6NbexlG6lLx8AEWphCJT1xOgzJTV4